extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(class="img-fluid",src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote ipsum dolor sit amet consectetur adipisicing elit. Esse, vitae ipsa. Possimus suscipit est laborum enim dignissimos repellat eius architecto obcaecati impedit voluptatum repellendus nam nobis, omnis culpa, debitis ratione.ipsum dolor sit amet consectetur adipisicing elit. Esse, vitae ipsa. Possimus suscipit est laborum enim dignissimos repellat eius architecto obcaecati impedit voluptatum repellendus nam nobis, omnis culpa, debitis ratione.

                p ipsum dolor sit amet consectetur adipisicing elit. Esse, vitae ipsa. Possimus suscipit est laborum enim dignissimos repellat eius architecto obcaecati impedit voluptatum repellendus nam nobis, omnis culpa, debitis ratione.ipsum dolor sit amet consectet

                p ipsum dolor sit amet consectetur adipisicing elit. Esse, vitae ipsa. Possimus suscipit est laborum enim dignissimos repellat eius architecto obcaecati impedit voluptatum repellendus nam nobis, omnis culpa, debitis ratione.
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, vitae ipsa. Possimus suscipit est laborum enim dignissimos repellat eius architecto obcaecati impedit voluptatum repellendus nam nobis, omnis culpa, debitis ratione.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, vitae ipsa. Possimus suscipit est laborum enim dignissimos repellat eius architecto obcaecati impedit voluptatum repellendus nam nobis, omnis culpa, debitis ratione.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, vitae ipsa. Possimus suscipit est laborum enim dignissimos repellat eius architecto obcaecati impedit voluptatum repellendus nam nobis, omnis culpa, debitis ratione.
